KAFKA_BOOTSTRAP_SERVERS=your-kafka-servers
KAFKA_USERNAME=your-kafka-username
KAFKA_PASSWORD=your-kafka-password
POSTGRES_HOST=your-internal-hostname
POSTGRES_PORT=your-port
POSTGRES_DB=your-database
POSTGRES_USER=your-username
POSTGRES_PASSWORD=your-password
CA_CERTIFICATE=your-certificate
AWS_ACCESS_KEY=your-access-key
AWS_SECRET_KEY=your-secret-key
AWS_S3_URL=your-s3-url
TRUSTSTORE_PASS="MyTruststorePass"
